*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;

    h1{
      font-size: 40px;
    }
    h2{
      font-size: 40px;
    }
    h3{
      font-size: 25px;
    }
    h4{
      font-size: 20px;
    }
    
}

/*HEADER*/

header {
 display: flex;
 align-items: center;
 background-color: #ffffff;
 margin: 0px 100px 0px 100px;
  }

.logo{
  height: 70px;
  margin-right: 40px;
}

.gc-style-nav{
  background-color: #ffffff;
}

.navbar{
  
  width: 50%;

  @media (max-width: 992px) {
    width: 100%;
    
  }
}

.navbar a:hover{
  color: #17467c;
}



.container-rrss{
  width: 50%;
  display: flex;
  justify-content: end;

    @media (max-width: 992px) {
    display: none;
      
   }
}

.navbar-toggler-icon{
  display: flex;
  justify-content: end;
}

.container-rrss-elemento img {
    width: 25px;
    margin: 3px;
  }











  /*HERO*/

.contenedor-hero{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #ffffff;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url(/assets/images/estadio-gs.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    button{
        margin-top: 25px;
        padding: 10px 20px;
    }
}    


.contenedor-hero__titulo{
    padding: 300px 0px 0px 0px;
}
    
.contenedor-hero__bajada{
    font-size: 25px;
}

/*CARDS*/

.contenedor-cards {
  display: flex;
  justify-content: space-around;
  margin: 80px;
}

.contenedor-cards__elemento{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(50% - 20px);
  box-sizing: border-box;
  padding-block: 30px;
}

.contenedor-cards__elemento__imagen{
  width: 60px;
  padding-bottom: 25px;
}

.contenedor-cards__elemento__texto{
 text-align: center;
}

@media (max-width: 768px) {
  .contenedor-cards {
    flex-wrap: wrap;
  }

  .contenedor-cards__elemento {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
  }

  .contenedor-cards__elemento:nth-child(2n) {
    margin-right: 0;
  }
}


/*MAIN*/

.contenedor-main {
  max-width: 100%;
  text-align: center;
  padding-bottom: 100px;
}

.contenedor-main__banner__imagen{
  max-width: 100%;
  margin-bottom: 100px;
}

.contenedor-main__historia__titulo{
  padding-bottom: 30px;
  color: #17467c;
  font-weight: 700;
}

.contenedor-main__historia__texto {
  margin: 0px 110px 0px 110px;
}

.main-history h2{
  color: #17467c;
  font-weight: 700;
  padding-bottom: 30px;
}



/*FOOTER*/

.contenedor-footer{
  display: block;
  background-color: rgb(233, 233, 233);
}

.contenedor-footer__rrss{
  display: flex;
  height: 110px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  
}

.contenedor-footer__rrss__elemento{
  display: flex;
  margin-left: 10px;
}

.contenedor-footer__nav-footer{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contenedor-footer__nav-footer__navbar{
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas */
  justify-content: center;
}



.contenedor-footer__nav-footer__navbar__elemento{
  color: #171717;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

@media (max-width: 576px) {
  .contenedor-footer__nav-footer__navbar {
    flex-direction: column; /* Cambiar la disposición a vertical */
    align-items: center; /* Centrar los elementos horizontalmente */
  }
}


.contenedor-footer__nav-footer__navbar__elemento:hover{
  color: #17467c;
}



.contenedor-footer__reseña{
  display: flex;
  justify-content: center;
  
  margin: 30px 150px 30px 150px;
}

.contenedor-footer__reseña__texto{
  text-align: center;
  font-size: 14px;
}

.contenedor-footer__nav-legal{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

}


.contenedor-footer__nav-legal__navbar__elemento{
  text-decoration: none;
  color: #171717;
  margin-right: 20px;
  font-size: 14px;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
    }
}

.contenedor-footer__nav-legal__navbar__elemento:hover{
  color: #17467c;
}

.contenedor-footer__linea{
  color: #adadad;
}

.boton-envio {
  color: #17467c;
}

.contenedor__banner__imagen{
  max-width: 100%;
  justify-content: center;
  margin-right: 80px;
  padding-bottom: 100px;
}


/*PAGINA HISTORIA*/

.contenedor-cabecera{
  max-width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}

.contenedor-cabecera__imagen{
  width: 100%;
}

.contenedor-historia{
  text-align: center;
  padding-bottom: 100px;
  margin: 0px 110px 0px 110px;

}

.contenedor-historia__titulo{
  padding-bottom: 30px;
  color: #17467c;
  font-weight: 700;
}


.container-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-galeria-imagen {
  width: calc(33.33% - 1rem);
  margin-bottom: 1rem;
  text-align: center;
}

.container-galeria-imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container-galeria-imagen {
    width: calc(50% - 1rem);
  }
}


form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.boton-envio {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;a
  font-size: 1rem;
  margin-top: 30px;
}

.boton-envio:hover {
  background-color: #123f72;
  color: #ffffff;
}