/*CONTACTO*/

.contenedor-formulario{
  margin: 50px 300px 100px 300px;
  justify-content: center;

  &__titulo{
      display: flex;
      padding-bottom: 30px;
      padding-bottom: 30px;
      color: $principal;
      font-weight: 700;
      justify-content: center;
  }

  .gc-style-boton{
      background-color: $principal;
      border: 0px;

      &:hover{
          background-color: $color-hover;
      }
  }
}
  
  @media (max-width: 991px) {
    .contenedor-formulario{
      margin: 50px 80px 100px 80px;
    }
     
  }
  
